body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
<<<<<<< HEAD

/*.nojumbotron {
    background: url(../Content/holiday_homepage_banner.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}*/
=======
.jumbotron {
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-image: url("https://cdn.oatbox.com/skin/frontend/pcore/oatbox/images/home/holiday_homepage_banner.jpg");
    background-position: center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    visibility: inherit;
    z-index: 20;
}
>>>>>>> 6091c44eb872e6c8cff2344c8e2e44e5cebcaee4
