<?xml version="1.0" encoding="utf-8"?>
<Config>
  <Tags>
  "#cycling", "#bike", "#шашлыки", "#кроссфит", "#мясомясо", "#triathlon", "#говядина", "#голодовка", "#голодание", "#футбол","#стейк", "#триатлон", "#вино", "#meat", "#running", "#голоданиенаводе", "#crossfit", "#мясо", "#football"
  </Tags>
</Config>